apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: akash-services
resources:
  - ../../../../../_docs/kustomize/akash-operator-inventory

patches:
  - path: docker-image.yaml
    target:
      kind: Deployment
      group: apps
      name: operator-inventory
      version: v1
  - path: docker-image.yaml
    target:
      kind: DaemonSet
      group: apps
      name: operator-inventory-node
      version: v1
