AP_ROOT=$(pwd)
export AP_ROOT

dotenv

make cache

PATH_add "$AP_DEVCACHE_NODE_BIN"
PATH_add "$AP_DEVCACHE_BIN"

PROVIDER_SERVICES=$AP_DEVCACHE_BIN/provider-services
AKASH=$AP_DEVCACHE_BIN/akash

export PROVIDER_SERVICES
export AKASH
