AP_ROOT=$(pwd)
export AP_ROOT

dotenv

PATH_add "$AP_DEVCACHE_NODE_BIN"
PATH_add "$AP_DEVCACHE_BIN"

if ! has make ; then
	echo "make is not installed"; exit 1
fi

if ! has go ; then
	echo "go is not installed"; exit 1
fi

if ! has kind ; then
	echo "kind is not installed. dev environment will try to install it"
fi

if ! has unzip ; then
	echo "unzip is not installed"; exit 1
fi

if ! has wget ; then
	echo "wget is not installed"; exit 1
fi

if ! has curl ; then
	echo "curl is not installed"; exit 1
fi

if ! has npm ; then
	echo "npm is not installed"; exit 1
fi

if ! has jq ; then
	echo "jq is not installed"; exit 1
fi

if ! has readlink ; then
	echo "readlink is not installed"; exit 1
fi

PROVIDER_SERVICES=$AP_DEVCACHE_BIN/provider-services
AKASH=$AP_DEVCACHE_BIN/akash

export PROVIDER_SERVICES
export AKASH

make cache
