source_up .envrc

dotenv_if_exists dev.env

#source_env ~/projects/akash/gpu

export AKASH_HOME=$DEVCACHE_RUN/ssh/.akash
export AKASH_KUBECONFIG=$KUBECONFIG
export AP_KUBECONFIG=$KUBECONFIG

if ! has tqdm ; then
	echo -e "\033[31mtqdm is not installed. https://github.com/tqdm/tqdm"; exit 1
fi
