---
apiVersion: v1
kind: Service
metadata:
  labels:
    akash.network: "true"
    app.kubernetes.io/name: inventory
    app.kubernetes.io/instance: inventory-service
    app.kubernetes.io/component: operator
    app.kubernetes.io/part-of: provider
  name: operator-inventory
  namespace: akash-services
spec:
  type: ClusterIP
  ports:
    - name: rest
      port: 8080
      targetPort: rest
      appProtocol: http
    - name: grpc
      port: 8081
      targetPort: grpc
      appProtocol: tcp
  selector:
    app.kubernetes.io/name: inventory
    app.kubernetes.io/instance: inventory-service
    app.kubernetes.io/component: operator
    app.kubernetes.io/part-of: provider
