name: Integration tests

on:
  workflow_call:

env:
  KUBE_SSH_NODE_NAME: kind

defaults:
  run:
    shell: bash

jobs:
  crd-e2e:
    env:
      KIND_NAME: kube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: set environment
        uses: HatsuneMiku3939/direnv-action@v1
      - run: |
          toolchain=$(cat go.mod | grep toolchain | cut -d ' ' -f 2 | sed 's/go*//')
          echo "GOTOOLCHAIN=go${toolchain}" >> $GITHUB_ENV
          echo "GOVERSION=${toolchain}" >> $GITHUB_ENV
          echo "GOROOT=/opt/hostedtoolcache/go/${toolchain}/x64" >> $GITHUB_ENV
      - uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GOVERSION }}"
      - name: Fetch kind version from go modules
        run: echo "KIND_VERSION=$(go list -mod=readonly -m -f '{{ .Version }}' sigs.k8s.io/kind)" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Go mod tidy
        run: go mod tidy
      - name: Make node scripts executable
        run: make chmod-akash-scripts
      - uses: helm/kind-action@v1
        with:
          version: "${{ env.KIND_VERSION }}"
          node_image: "kindest/node:${{ env.KINDEST_VERSION }}"
          cluster_name: "${{ env.KIND_NAME }}"
          config: ./_run/kube/kind-config.yaml
      - name: Configure Kind cluster
        run: KUSTOMIZE_INSTALLS=akash-operator-inventory make -s -C _run/kube kube-cluster-setup-e2e-ci
      - name: k8s-ingress
        run: make -s -C _run/kube kind-k8s-ip
      - name: Kube Environment
        run: |
          kubectl config view
          kubectl cluster-info
          kubectl get pods,ingress,svc -A
      - name: Run E2E Tests
        run: make test-e2e-integration
      - name: Run K8s Tests
        run: make test-k8s-integration
      - name: Post-Run Kube Environment
        run: |
          kubectl get ns,pods,ingress,svc -A
